# Data analysis
minisom
pandas
numpy
scipy
scikit-learn
rpy2

# Visualization
plotly
shapely
jupyter

# Convert plotly > images. Needed for showing images
# on GitHub. Specific version due to issue on Windows
kaleido==0.1.0.post1
